<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layout/layout :: head">
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>PAGO</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/pago.js}"></script>

	</head>
	
	<body>
<div id="wrapper">

		<ul class="navbar-nav sidebar sidebar-dark accordion"
			id="accordionSidebar" style="background-color: #5CB1EE;">
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/welcome/bienvenido}">
				<div class="sidebar-brand-icon">
					<i class="fas fa-desktop"></i>
				</div>
				<div class="sidebar-brand-text mx-3">CLIENTE</div>
			</a>

			<hr class="sidebar-divider my-0">

			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-target="#collapseTwo" aria-expanded=true
				aria-controls="collapseTwo"> <i class="fas fa-fw fa-cog"></i> <span>Men&uacute;</span>
			</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/cliente/listar}">Cliente</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/tutor/listar}">Tutor</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/curso/listar}">Curso</a>
					</div>
				</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/cursotutor/listar}">Agregar Curso</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/pago/listar}">Pago</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/metodopago/listar}">M&eacute;todo de Pago</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/resenatutor/listar}">Rese&ntilde;a a Tutor</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/solicitar}">Solicitar Tutor&iacute;a</a>
					</div>
				</div>
				</li>
			<hr class="sidebar-divider">

		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column"
			style="background: #D6FFF7">

			<div id="content">

				<nav
					class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow"
					style="background: #51AFF2">

					<ul class="navbar-nav ml-auto">

						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle" href="#" id="userDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"><span
								class="mr-2 d-none d-lg-inline text-white" sec:authentication="name"> Usuario</span> <i
								class="fas fa-user-circle fa-lg fa-fw mr-2 text-white"></i> </a>
							<div
								class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="userDropdown" style="background: rgb(117, 168, 244)">
								<a class="dropdown-item" th:href="@{/login}"
									style="background: #BEE4FF"> <i
									class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-white"></i> <span
									class="text-white">Cerrar sesi&oacute;n</span>
								</a>
							</div></li>

					</ul>
				</nav>


				<div class="container-fluid">
					<form th:action="@{/pago/registrar}" method="post" th:object="${pago}">
						<div class="form-row col-6">
							<div class="form-group col-md-12">
								<h2 class="m-0 font-weight-bold text-dark">REGISTRO DE
									PAGOS</h2>
							</div>
							<div class="form-group">
					
					<label for="idPago">ID:</label> 
					<input type="text" class="form-control" th:field="*{idPago}"></input>
					
					<div class="form-group">
					
						<label 	for="monto">MONTO:</label> 
						<input type="text" th:field="*{monto}" class="form-control" id="monto"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('monto')}" 
							th:errors="*{monto}">
						</div>
						
					<label for="fecha">FECHA:</label> <input
						type="date" th:field="*{fecha}" class="form-control"
						id="fecha"></input>

					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('fecha')}"
						th:errors="*{fecha}"></div>
						
						<label 	for="numeroTarj">NUMERO DE TARJETA:</label> 
						<input type="text" th:field="*{numeroTarj}" class="form-control" id="numeroTarj"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('numeroTarj')}" 
							th:errors="*{numeroTarj}">
						</div>
						
						<label 	for="caducidad">CADUCIDAD:</label> 
						<input type="text" th:field="*{caducidad}" class="form-control" id="caducidad"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('caducidad')}" 
							th:errors="*{caducidad}">
						</div>
						
						<label 	for="nombreTitular">NOMBRE DEL TITULAR:</label> 
						<input type="text" th:field="*{nombreTitular}" class="form-control" id="nombreTitular"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreTitular')}" 
							th:errors="*{nombreTitular}">
						</div>
						
						<label 	for="codigoSeguridad">CODIGO DE SEGURIDAD:</label> 
						<input type="text" th:field="*{codigoSeguridad}" class="form-control" id="codigoSeguridad"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('codigoSeguridad')}" 
							th:errors="*{codigoSeguridad}">
						</div>
						
						<label for=metodoPago>METODO DE PAGO: </label>
						<select
							class="form-control" th:field="*{metodoPago.idMetodo}">

							<option th:each="m: ${listaMetodoPago}" th:value="${m.idMetodo}"
								th:text="${m.nombre}"
								th:selected="(${m.idMetodo} == *{metodoPago.idMetodo})"></option>
						</select>
						
						<label for=metodoPago>ID DE LA SOLICITUD: </label>
						<select
							class="form-control" th:field="*{solicitudClase.idSolicitudClase}">

							<option th:each="s: ${listaSolicitudClase}" th:value="${s.idSolicitudClase}"
								th:text="${s.idSolicitudClase}"
								th:selected="(${s.idSolicitudClase} == *{solicitudClase.idSolicitudClase})"></option>
						</select>

					</div>
					
				</div>


						</div>
						<div class="form-group col-md-12 text-left">
							<br>
							<button type="submit" class="btn btn-dark">
								<i class="fas fa-save"></i> Grabar
							</button>
							<a th:href="@{/pago/listar}"
								class="btn btn-danger"> Cancelar</a>
						</div>
					</form>
				</div>
				<footer th:replace="layout/layout :: footer"></footer>
			</div>
		</div>

	</body>
	
</html>
