<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="pickyourtutor">

<title>TUTORES Y CLIENTES</title>

<link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">
<link rel="stylesheet" th:href="@{/css/chosen.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">

<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

</head>
<body id="page-top">

	<div id="wrapper">

		<ul class="navbar-nav sidebar sidebar-dark accordion"
			id="accordionSidebar">
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/matricula}">
				<div class="sidebar-brand-icon">
					<i class="fas fa-landmark"></i>
				</div>
			</a>

			<hr class="sidebar-divider my-0">

			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-target="#collapseTwo" aria-expanded=true
				aria-controls="collapseTwo"> <i class="fas fa-fw fa-cog"></i> <span>Men&uacute;</span>
			</a>
<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">


			<hr class="sidebar-divider">

		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<form
						class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
						<div class="input-group">
							<input type="text" class="form-control bg-light border-0 small"
								placeholder="Search for..." aria-label="Search"
								aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-secondary" type="button">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>

					<ul class="navbar-nav ml-auto">

						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle" href="#" id="userDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"><span
								class="mr-2 d-none d-lg-inline text-white-800"> Usuario</span> <i
								class="fas fa-user-circle fa-lg fa-fw mr-2 text-white-800"></i> </a>
							<div
								class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="userDropdown">
								<a class="dropdown-item" href="#"> <i
									class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Perfil
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="categories/login"
									data-toggle="modal" data-target="#loginModal"> <i
									class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									Cerrar sesi&oacute;n
								</a>
							</div></li>

					</ul>
				</nav>
			</div>
			<div class="container-fluid">
			</div>
			<footer th:fragment="footer" class="sticky-footer">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; UPC-2021</span>
					</div>
				</div>
				<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
				<script th:src="@{/js/jquery.easing.min.js}"></script>
				<script th:src="@{/js/popper.min.js}"></script>
				<script th:src="@{/js/bootstrap.min.js}"></script>
				<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
				<script th:src="@{/js/chosen.jquery.min.js}"></script>
				<script th:src="@{/js/fontawesome.min.js}"></script>
				<script th:src="@{/js/sweetalert.min.js}"></script>
				<script th:src="@{/js/sb-admin-2.min.js}"></script>
				<script th:src="@{/js/scripts.js}"></script>
			</footer>
		</div>
	</div>
</body>
</html>