<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layout/layout :: head">
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Tutor</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/cliente.js}"></script>

	</head>
	
	<body>
<div id="wrapper">

		<ul class="navbar-nav sidebar sidebar-dark accordion"
			id="accordionSidebar" style="background-color: #5CB1EE;">
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/welcome/bienvenido}">
				<div class="sidebar-brand-icon">
					<i class="fas fa-desktop"></i>
				</div>
				<div class="sidebar-brand-text mx-3">TUTOR</div>
			</a>

			<hr class="sidebar-divider my-0">

			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-target="#collapseTwo" aria-expanded=true
				aria-controls="collapseTwo"> <i class="fas fa-fw fa-cog"></i> <span>Men&uacute;</span>
			</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/cliente/listar}">Cliente</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/tutor/listar}">Tutor</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/matricula/docente/lista_docente}">Curso</a>
					</div>
				</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/matricula/docente/lista_docente}">Agregar Curso</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/matricula/curso/lista_curso}">Pago</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/matricula/matricular/reporte}">M&eacute;todo de Pago</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/matricula/matricular/reporte}">Rese&ntilde;a a Tutor</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/matricula/matricular/reporte}">Solicitar Tutor&iacute;a</a>
					</div>
				</div>
				</li>
			<hr class="sidebar-divider">

		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column"
			style="background: #D6FFF7">

			<div id="content">

				<nav
					class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow"
					style="background: #51AFF2">

					<ul class="navbar-nav ml-auto">

						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle" href="#" id="userDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"><span
								class="mr-2 d-none d-lg-inline text-white" sec:authentication="name"> Usuario</span> <i
								class="fas fa-user-circle fa-lg fa-fw mr-2 text-white"></i> </a>
							<div
								class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="userDropdown" style="background: #BEE4FF">
								<a class="dropdown-item" th:href="@{/login}"
									style="background: #ffba6a"> <i
									class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-white"></i> <span
									class="text-white">Cerrar sesi&oacute;n</span>
								</a>
							</div></li>

					</ul>
				</nav>


				<div class="container-fluid">
					<form th:action="@{/cliente/registrar}" method="post" th:object="${cliente}">
						<div class="form-row col-6">
							<div class="form-group col-md-12">
								<h2 class="m-0 font-weight-bold text-dark">REGISTRO DE
									CLIENTE</h2>
							</div>
							<div class="form-group">
					
					<label for="idCliente">ID:</label> 
					<input type="text" class="form-control" th:field="*{idCliente}"></input>
					
					<div class="form-group">
					
						<label 	for="nombre">NOMBRE:</label> 
						<input type="text" th:field="*{nombre}" class="form-control" id="nombre"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}" 
							th:errors="*{nombre}">
						</div>
						
						<label 	for="apellido">APELLIDO:</label> 
						<input type="text" th:field="*{apellido}" class="form-control" id="apellido"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('apellido')}" 
							th:errors="*{apellido}">
						</div>
						
						<label 	for="dni">DNI:</label> 
						<input type="text" th:field="*{dni}" class="form-control" id="dni"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('dni')}" 
							th:errors="*{dni}">
						</div>
						
						<label 	for="telefono">TELEFONO:</label> 
						<input type="text" th:field="*{telefono}" class="form-control" id="telefono"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('telefono')}" 
							th:errors="*{telefono}">
						</div>
						
						<label 	for="nombre_uni">NOMBRE DE LA UNIVERSIDAD:</label> 
						<input type="text" th:field="*{nombre_uni}" class="form-control" id="nombre_uni"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombre_uni')}" 
							th:errors="*{nombre_uni}">
						</div>
						
						<label 	for="carrera_uni">CARRERA UNIVERSITARIA:</label> 
						<input type="text" th:field="*{carrera_uni}" class="form-control" id="carrera_uni"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('carrera_uni')}" 
							th:errors="*{carrera_uni}">
						</div>
						
						<label 	for="correo">CORREO ELECTRONICO:</label> 
						<input type="text" th:field="*{correo}" class="form-control" id="correo"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('correo')}" 
							th:errors="*{correo}">
						</div>
						
						<label 	for="contrasena">CONTRASENA:</label> 
						<input type="text" th:field="*{contrasena}" class="form-control" id="contrasena"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('contrasena')}" 
							th:errors="*{contrasena}">
						</div>
						
										
						
					</div>
					
				</div>


						</div>
						<div class="form-group col-md-12 text-left">
							<br>
							<button type="submit" class="btn btn-dark">
								<i class="fas fa-save"></i> Grabar
							</button>
							<a th:href="@{/cliente/listar}"
								class="btn btn-danger"> Cancelar</a>
						</div>
					</form>
				</div>
				<footer th:replace="layout/layout :: footer"></footer>
			</div>
		</div>

	</body>
	
</html>