<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="UTF-8"></meta>
		
		<title>Clientes</title>
		
		<script type="text/javascript"
			src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="//code.jquery.com/jquery-1.11.1.min.js">
		</script>

	</head>

	<body>
	
		<div th:replace="fragments/header :: header"></div>

		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" >
						
						<a  style="border-bottom-color:blue" th:href="@{/cliente/irRegistrar}" id="add-row" 
							type="button"
							class="btn btn-primary btn-md left-block"> <span
							class="glyphicon glyphicon-plus" ></span> Cliente
						</a>
						
						<a  style="border-bottom-color: blue" th:href="@{/cliente/irBuscar}" id="add-row" 
							type="button"
							class="btn btn-primary btn-md left-block"> <span
							class="glyphicon glyphicon-search" ></span> 
						</a>
						
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">CODIGO</th>
									<th class="text-center">NOMBRE</th>
									<th class="text-center">APELLIDO</th>
									<th class="text-center">NOMBRE DE LA UNIVERSIDAD</th>
									<th class="text-center">NOMBRE DE LA CARRERA</th>
									<th class="text-center">DNI</th>
									<th class="text-center">TELEFONO</th>																		
									<th class="text-center">CORREO ELECTRONICO</th>
									<th class="text-center">CONTRASEÑA</th>
																											
									<th class="text-center">OPERACIÓN</th>
									<th class="text-center">OPERACIÓN</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cli: ${listaClientes}">
									<td th:text="${cli.idCliente}"></td>
									<td th:text="${cli.nombre}"></td>
									<td th:text="${cli.apellido}"></td>
									<td th:text="${cli.nombre_uni}"></td>
									<td th:text="${cli.carrera_uni}"></td>
									<td th:text="${cli.dni}"></td>
									<td th:text="${cli.telefono}"></td>
									<td th:text="${cli.correo}"></td>
									<td th:text="${cli.contrasena}"></td>
									
									<td><a th:href="@{/cliente/eliminar?id=}+${cli.idCliente}">Eliminar</a></td>
									<td><a th:href="@{'/cliente/modificar/' + ${cli.idCliente}}">Modificar</a></td>
								</tr>
							</tbody>
						</table>
											
					</div>
				</div>
			<div th:if="${mensaje}" class="alert alert-danger">
				<p th:text="${mensaje}"></p>
			</div>
		</form>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>

	</body>
</html>
